a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
input[type="text"] {
  width: 100%;
}
.head {
  display: flex;

  .descriptionWrap {
    flex: 1 1 auto;
    padding-left: 20px;
  }
  .titleBlock {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .descriptionBlock{
    .item{
      display: flex;
      align-items: center;
      .itemTitle{
        font-weight: bold;
      }
      .itemInputWrap {
        flex: 1 1 auto;
      }
    }
  }
}
.statusInputWrap {
  input {
    width: 100%;
    font-size: 16px;
    padding: 8px;
    border: 1px solid #ced4da;
    border-radius: .25rem;

    &:focus {
      border-color: #80bdff;
      outline-color: deepskyblue;
    }
  }
}
.uploadWrap {
  margin-top: 10px;
}
.photoInputWrap {
  .photoInput {
   display: none;
  }
  .photoInputLabel {
    display: flex;
    align-items: center;
    background: #1bbc9b;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #000;
    border-radius: 5px;
    height: 40px;
    width: 100%;
    letter-spacing: 2px;
    transition: all 0.5s ease;
    &:hover {
      background: #07826b;
    }
    span {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    span:first-child {
      padding: 0 15px;

    }
    span:last-child {
      border-left: 1px solid #fff;
      padding-left: 5px;
      flex: 1 1 auto;
    }

  }

}

.formControl {
  display: flex;
  justify-content: flex-end;

  .btn {
    width: 200px;
    background: #1bbc9b;
    border-radius: 100px;
    display: block;
    border: none;
    color: #fff;
    text-align: center;
    cursor: pointer;
    font-weight: 900;
    line-height: 1.5;
    letter-spacing: 2px;
    padding: .5em 1.5em .75em;
    vertical-align: middle;
    text-decoration: none;
    transition: all 0.5s ease;
    // box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1), inset 0 -0.25em 0 rgba(0, 0, 0, 0.25), 0 0.25em 0.25em rgba(0, 0, 0, 0.05);
    // text-shadow: 0 1px 1px rgba(255, 255, 255, 0.25);

    &:hover {
      background: #07826b;
    }

    &:active {
      outline: none;
      // box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), inset 0 2px 0 rgba(255, 255, 255, 0.1), inset 0 0.25em 0.5em rgba(0, 0, 0, 0.05);
      // margin-top: .25em;
      // padding-bottom: .5em;
    }

    &:focus {
      outline: none;
    }
  }
}
.inputW100{
  width: 100%;
}
.contactsWrap {
  margin-top: 5px;
}
.contactWrap {
  display: flex;
  align-items: center;
  .contactKeyTitle {
    font-weight: bold;
    flex: 0 0 12%;
  }
  .contactKeyInputWrap {
    flex: 0 0 85%;
  }
  .inputW100{
    width: 100%;
  }
}

@media screen and (max-width: 1200px) {

}

/* 768px - 992px */
@media screen and (max-width: 992px) {

}

/* 576px - 768px */
@media screen and (max-width: 768px) {

}

/* 320px - 576px */
@media screen and (max-width: 576px) {
  .head {
    flex-direction: column;
    .titleBlock {
      padding: 10px 0;
    }
  }

}
