.wrapper {
  display: inline-block;
  width: 32px;
  img {
    display: block;
    width: 100%;
  }
}
.wrapper.lg {
  width: 32px;
}
.wrapper.sm {
  width: 16px;
}
@media screen and (max-width: 1200px) {

}

/* 768px - 992px */
@media screen and (max-width: 992px) {

}

/* 576px - 768px */
@media screen and (max-width: 768px) {

}

/* 320px - 576px */
@media screen and (max-width: 576px) {

}