.wrapper {
  padding: 20px;

  h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .loginForm {
    margin: 20px 0;
    .formBtn {
      display: block;
      color: #fff;
      padding: 6px 12px;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      background-color: rgb(0, 123, 255);
      border-color: rgb(0, 123, 255);
      border-radius: .25rem;
      &:hover {
        color: #fff;
        background-color: #0069d9;
        border-color: #0062cc;
      }
    }

    .formItem {
      display: flex;
      flex-direction: column;
      margin-bottom: 5px;
    }

    .formItem label {
      margin-bottom: 5px;
      padding: 0;
      font-size: 16px;

    }

    .formItem p {
      margin-top: 5px;
    }

    .formItem input {
      font-size: 16px;
      padding: 8px;
      border: 1px solid #ced4da;
      border-radius: .25rem;

      &:focus {
        border-color: #80bdff;
        outline-color: deepskyblue;
      }
    }
  }
}

@media screen and (max-width: 1200px) {

}

/* 768px - 992px */
@media screen and (max-width: 992px) {

}

/* 576px - 768px */
@media screen and (max-width: 768px) {

}

/* 320px - 576px */
@media screen and (max-width: 576px) {

}