:root {
  --animate-duration: 1s;
  --animate-delay: 1s;
  --animate-repeat: 1;
}
.animate__animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}
/* Fading entrances  */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
.animate__fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.animate__fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}
@-webkit-keyframes fadeInRightBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.appWrapper {
  width: 100%;
  min-height: 100%;
  display: grid;
  grid-template-areas:
    "header header"
    "nav content"
    "footer footer";
  grid-template-rows: 70px 12fr 60px;
  grid-template-columns: 2fr 10fr;
  grid-gap: 30px 10px;
  .error {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 999;
    height: 50px;
    width: 200px;
    border: 1px solid #000;
    border-radius: 5px;
    background: #d7c8c8;
    color: #f00;
    box-shadow: 5px 5px 24px -5px rgba(0, 0, 0, 0.85);
  }
}

.contentWrapper {
  grid-area: content;
  margin-left: 5px;
  margin-right: 10px;
  padding: 10px 0;
}

@media screen and (max-width: 1200px) {
  .container {
    //width: 960px;
  }
}

/* 768px - 992px */
@media screen and (max-width: 992px) {
  .container {
    //width: 720px;
  }
}

/* 576px - 768px */
@media screen and (max-width: 768px) {
  .container {
    //width: 540px;
  }
}

/* 320px - 576px */
@media screen and (max-width: 576px) {
  .container {
    //width: 100%;
  }
  .appWrapper {
    grid-template-areas:
      "header"
      "nav"
      "content"
      "footer";
    grid-template-rows: 40px 30px 1fr 50px;
    grid-template-columns: 1fr;
    grid-gap: 0;
  }
  .contentWrapper {
    margin: 0;
  }
}
