.wrapper {
  width: 32px;

  img {
    display: block;
    width: 100%;
  }
}
.wrapper.small {
  width: 24px;
}
.wrapper.large {
  width: 100px;
}

@media screen and (max-width: 1200px) {

}

/* 768px - 992px */
@media screen and (max-width: 992px) {

}

/* 576px - 768px */
@media screen and (max-width: 768px) {

}

/* 320px - 576px */
@media screen and (max-width: 576px) {
 .wrapper {
   width: 20px;
 }
}