.wrapper {
  margin: 0 30px;
}

.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-gap: 40px;
}

.dialogsItems {
  border: 1px solid black;
  padding: 10px;
}

.addMessageForm {
  margin: 0;
  .formControl {
    display: flex;
    justify-content: flex-end;

  }
}

.messagesWrap {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 10px;

  .messages {
    .message {

    }
  }
}

@media screen and (max-width: 1200px) {

}

/* 768px - 992px */
@media screen and (max-width: 992px) {

}

/* 576px - 768px */
@media screen and (max-width: 768px) {

}

/* 320px - 576px */
@media screen and (max-width: 576px) {
  .wrapper {
    margin: 0 5px;
  }
  .dialogs {
    grid-gap: 5px;
  }
  .messagesWrap {
    .formWrap {
      margin: 0 5px 10px;

      .formItem textarea {
        height: 2rem;

      }

      .btnSendMessage {
        position: relative;
        width: 100%;
        font-size: 8px;
        letter-spacing: normal;
      }
    }
  }
}
