.wrapper {
  margin: 0 30px;
}

.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-gap: 40px;
}

.dialogsItems {
  border: 1px solid black;
  padding: 10px;
}

.addMessageForm {
  margin: 0;

  .formItem {
    margin: 10px 0;
  }

  .formItem textarea {
    width: 100%;
    height: 4rem;
    padding: 5px 0 0 5px;
    resize: none;

    &:focus {
      outline-color: deepskyblue;
    }
  }

  .formControl {
    display: flex;
    justify-content: flex-end;

    .btn {
      width: 200px;
      background: #ed9619;
      border-radius: 100px;
      display: block;
      border: none;
      color: #fff;
      text-align: center;
      cursor: pointer;
      font-weight: 900;
      line-height: 1.5;
      letter-spacing: 2px;
      padding: .5em 1.5em .75em;
      vertical-align: middle;
      text-decoration: none;
      transition: all 0.5s ease;
      // box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1), inset 0 -0.25em 0 rgba(0, 0, 0, 0.25), 0 0.25em 0.25em rgba(0, 0, 0, 0.05);
      // text-shadow: 0 1px 1px rgba(255, 255, 255, 0.25);

      &:hover {
        background: #d9860e;
      }

      &:active {
        outline: none;
        // box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), inset 0 2px 0 rgba(255, 255, 255, 0.1), inset 0 0.25em 0.5em rgba(0, 0, 0, 0.05);
        // margin-top: .25em;
        // padding-bottom: .5em;
      }

      &:focus {
        outline: none;
      }
    }

  }
}

.messagesWrap {
  display: flex;
  flex-direction: column;
  border: 1px solid black;

  .messages {
    .message {
    }
  }
}

@media screen and (max-width: 1200px) {

}

/* 768px - 992px */
@media screen and (max-width: 992px) {

}

/* 576px - 768px */
@media screen and (max-width: 768px) {

}

/* 320px - 576px */
@media screen and (max-width: 576px) {
  .wrapper {
    margin: 0 5px;
  }
  .dialogs {
    grid-gap: 5px;
  }
  .messagesWrap {
    .formWrap {
      margin: 0 5px 10px;

      .formItem textarea {
        height: 2rem;

      }

      .btnSendMessage {
        position: relative;
        width: 100%;
        font-size: 8px;
        letter-spacing: normal;
      }
    }
  }
}
